<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lithophane Generator</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Capture memories with Lithophanes</h1>
        </header>
        <main>
            <div class="image-placeholder">
                <img src="/images/sample1.jpg" alt="Sample Lithophane">
            </div>
            <div class="intro-text">
                <p>Turn your cherished memories into glowing works of art. Lithophanes bring your favorite photos to life through light, adding a touch of magic to any space. Display them in our elegant lightboxes or hang them as breathtaking window decorations.</p>
            </div>
            <div class="start-button">
                <a href="/selection" class="btn">Start Now</a>
            </div>

            

            <header style="margin-top: 50px;">
                <h1>Request Custom Mountain Model</h1>
            </header>
            <div class="image-placeholder">
                <img src="/images/landscape.jpg" alt="custom landscape model">
            </div>
            <div class="intro-text">
                <p>From desktop display to grand centerpiece, our custom mountain models range from 8 inches to 8 feet. Tell us about the landscape you want to recreate</p>
            </div>
            <div class="start-button">
                <a href="/quote" class="btn">Get a Quote</a>
            </div>
        </main>
    </div>
</body>
</html>

